{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block main %}
    <div class="container_center">
     <form action="" method="post">
         {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>

        <div class="form-group">
            <label>Chapter</label>
            <input type="text" class="form-control"  name="chapter">
        </div>
        <div class="form-group">
            <label>Url</label>
            <textarea class="form-control" rows="3" name="url" id="urlarea"></textarea>
        </div>
        <div class="form-group">
            <label>Category</label>
            <textarea class="form-control" rows="3" name="category" id="categoryarea"></textarea>
        </div>

        <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control"  name="author">
        </div>
         <div class="form-group">
            <label>Name Model</label>
            <input type="text" class="form-control" name="namemodel">
        </div>
        <button type="submit">Upload</button>
    </form>
</div>
    <script>
        document.getElementById("urlarea").value = "";
        document.getElementById("categoryarea").value = "Adventure fiction, Fantasy";
    </script>
{% endblock %}